<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="{{asset 'css/style.css'}}" />
    <link type="text/css" rel="stylesheet" href="{{asset 'css/pilcrow.css'}}" />

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css">

  </head>
<body>
<div class="content">
{{~> content}}
</div>

{{~> toc}}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
</body>
</html>
