<!-- Google Analytics -->
<script>
  window.ga = window.ga || function () {
    (ga.q = ga.q || []).push(arguments)
  }
  ga.l = +new Date
  ga('create', 'UA-3898076-21', 'auto')
  ga('send', 'pageview')
</script>
<script async src="//www.google-analytics.com/analytics.js"></script>

<!-- Adsense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: 'ca-pub-7826623632932605',
    enable_page_level_ads: true
  })
</script>
