<nav>
<ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="demo.html">Try It Out</a></li>
    <li><a href="index.html#install">Install</a></li>
    <li><a href="rules.html">Rules</a></li>
    <li><a href="index.html#why-should-i-use-javascript-standard-style">FAQ</a></li>
    <li><a href="awesome.html">Ecosystem</a></li>
    <li><a href="changelog.html">Change Log</a></li>
    <li><a href="authors.html">Authors</a></li>
    <li><a href="https://github.com/feross/standard">Github</a>
</ul>
</nav>
